# http://www.elasticsearch.org/blog/playing-http-tricks-nginx/

upstream elasticsearch {

  {% for host in es_nodes %}
    server {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:9200;
  {% endfor %}

  keepalive 15;
}

server {
  listen 80;

  location /admin {
    alias  {{ kopf_dir }};
    index  index.html  index.htm;
  }

  location /microscope {
    alias  {{ microscope_dir }};
    index  index.html  index.htm;
  }

  location /kibana {
    alias  {{ kibana_dir }};
    index  index.html  index.htm;
  }
  
  location / {
    proxy_pass http://elasticsearch;
    proxy_read_timeout 90;
    proxy_http_version 1.1;
    proxy_set_header Connection "Keep-Alive";
    proxy_set_header Proxy-Connection "Keep-Alive";
  }

  location ~ ^/_aliases$ {
    proxy_pass http://elasticsearch;
    proxy_read_timeout 90;
    proxy_http_version 1.1;
    proxy_set_header Connection "Keep-Alive";
    proxy_set_header Proxy-Connection "Keep-Alive";
  }
  location ~ ^/.*/_aliases$ {
    proxy_pass http://elasticsearch;
    proxy_read_timeout 90;
    proxy_http_version 1.1;
    proxy_set_header Connection "Keep-Alive";
    proxy_set_header Proxy-Connection "Keep-Alive";
  }

  location ~ ^/_cluster/.*$ {
    proxy_pass http://elasticsearch;
    limit_except GET {
        deny all;
    }
    proxy_read_timeout 90;
    proxy_http_version 1.1;
    proxy_set_header Connection "Keep-Alive";
    proxy_set_header Proxy-Connection "Keep-Alive";
  }

  location ~ ^/_nodes$ {
    proxy_pass http://elasticsearch;
    proxy_read_timeout 90;
    proxy_http_version 1.1;
    proxy_set_header Connection "Keep-Alive";
    proxy_set_header Proxy-Connection "Keep-Alive";
  }

  location ~ ^/.*/_search$ {
    proxy_pass http://elasticsearch;
    proxy_read_timeout 90;
    proxy_http_version 1.1;
    proxy_set_header Connection "Keep-Alive";
    proxy_set_header Proxy-Connection "Keep-Alive";

						 if ($request_method = 'OPTIONS') {
								add_header 'Access-Control-Allow-Origin' '*';
								#
								# Om nom nom cookies
								#
								add_header 'Access-Control-Allow-Credentials' 'true';
								add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
								#
								# Custom headers and headers various browsers *should* be OK with but aren't
								#
								add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
								add_header 'Content-Type' 'text/plain charset=UTF-8';
								add_header 'Content-Length' 0;
								return 204;
						 }
						 if ($request_method = 'POST') {
								add_header 'Access-Control-Allow-Origin' '*';
								add_header 'Access-Control-Allow-Credentials' 'true';
								add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
								add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
						 }
						 if ($request_method = 'GET') {
								add_header 'Access-Control-Allow-Origin' '*';
								add_header 'Access-Control-Allow-Credentials' 'true';
								add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
								add_header 'Access-Control-Allow-Headers' 'DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type';
						 }
  }

  location ~ ^/.*/_mapping {
    proxy_pass http://elasticsearch;
    proxy_read_timeout 90;
    proxy_http_version 1.1;
    proxy_set_header Connection "Keep-Alive";
    proxy_set_header Proxy-Connection "Keep-Alive";
  }
}
