svg {
  font: 10px sans-serif
  -webkit-touch-callout: none;
 -webkit-user-select: none;
  -khtml-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
}

.bar {
  fill: #26bdcf;
  stroke: #1a8490;
  opacity: .8;
}

.histogram {
  cursor: col-resize; 
}

.histogram-selection {
  fill: #ef5ba1;
}

.histogram-marker {
  stroke: #ef5ba1;
  stroke-width: 1;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
