.header-histogram-container {
  margin: 6px 0;

  padding-bottom: 10px;
  padding-right: 10px;

  float: right;

  background-color: lighten($c-sea,30%);

  h3 {
    font-size: 12pt;
    font-weight: 100;
    padding-left: 10px;
  }

  .histogram {
    margin: 0 10px;
  }

  .last-list {
    display: inline-block;
    vertical-align: top;

    ul {
      display: inline-block;
      margin: 0;
    }

    li {
      @include user-select(none);
      cursor: pointer;
      border: 1px solid $c-sea;
      padding: 3px 6px;
      margin-bottom: 2px;
      margin-right: 2px;

      &:hover {
        background-color: $c-sea;
      }
    }
  }

}
