.header-histogram-container {
  margin-top: 20px;
  margin-right: 10px;
  padding-bottom: 10px;

  background-color: white;

  h3 {
    font-weight: 100;
    padding-left: 0.5em;
  }

  .histogram {
    margin: 0 10px;
  }

  .last-list {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    li {
      cursor: pointer;
      border: 1px solid $c-blue;
      padding: 3px 6px;
      margin-bottom: 2px;
      margin-right: 2px;

      &:hover {
        background-color: $c-sea;
      }
    }
  }

}
