@import "bourbon";
@import "neat";

@import "colors";
@import "typography";
@import "header";

html,body {
  margin: 0;
}

h1,h2,h3 {
  margin: 0;
}

svg {
  font: 10px sans-serif;
  @include user-select(none);
}
