$navigation-height: 40px;
$navigation-padding: 1em;

header {
  @include clearfix;
  @include outer-container;

  position: relative;
  z-index: 9999;

  padding-top: 5px;
  padding-bottom: 5px;

  background-color: $c-sea;
  
  .logo {
    float: left;
    /*padding-left: $navigation-padding;*/
    /*padding-right: 2em;*/
    max-height: $navigation-height;
  }

  h1 {
    font-weight: lighter;
    font-size: 20px;
    padding-top: 5px;
  }
}

footer {
  .credits {
    padding: 1em;
    font-weight: lighter;
    font-size: 14px;
    text-align: right;
    color: #aaa;
    a { color: inherit; }
  }
}
