.service-overview {
  /*margin-left: $base-indent;*/
}

.service-summary {
  margin-top: 1em;
  margin-bottom: 2em;

  background: $c-lskin;

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 900;
    background: $c-yellow;
    padding-right: 0.4em;
  }

  ul { 
    margin: 0;
  }

  .stat-value {
    font-weight: bolder;
    font-size: 25px;
    padding-right: 0.2em;
    display: inline-block;
    width: 6em;
    text-align: right;
  }
}

